<body>
  <section>
    <h1>{{ title }}</h1>
    <h2>A place to store things you have to do!</h2>
    <input type="text" placeholder="Filter your to-dos" [(ngModel)]="filter" (input)="filterTasks()"/>
    <div class="to-do-list">
      <ol class="to-do-items">
        <li *ngFor="let tasks of filteredTodoList">
          <button class="complete-button" (click)="completeTask(tasks)" *ngIf="tasks.complete === !true">Complete</button>
          <span [ngClass]="{completed: tasks.complete === true}">{{tasks.task}}</span>
          <button class="remove-button" (click)="remove(tasks)" >X</button>
        </li>
      </ol>
    </div>
    <input type="text" class="newtask" [(ngModel)]="newtask" placeholder="Add to your to-do" />
    <button class="add" (click)="add()">Add</button>
  </section>
</body>